<footer>
    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>
    <div style="text-align: center;">
        <div style="flex: 1;">
            <a href="https://github.com/theflyoccultist" style="color: rgb(50, 0, 71);">GitHub | </a>
            <a href="https://www.linkedin.com/in/rin-delahaije-9750aa138/" style="color: rgb(94, 3, 94);">LinkedIn</a>
        </div>
        <div style="flex: 1;">
            <p>&copy; 2025 Rin. All rights reserved.</p>
        </div>
        <div style="flex: 1;">
            <p>This website is completely React-free!</p>
            <img src="https://www.rinkakuworks.com/public/images/gifs/happy-dancing.gif" style="width: 20%;"><br/>
        </div>
    </div>
</footer>