.about-container {
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 75px 20px;
}

.about-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-section h2 {
    font-size: 2rem;
    font-weight: bold;
}

.about-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: add rounded corners to the image */
}

.about-section .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 20px; /* Matches the rounded button style in your prototype */
}

.aboutme-text {
    padding: 100px 10px;
}

.trueprogrammer {
    padding: 50px 175px 0px 175px;
}

.skillset {
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .about-section h2 {
        font-size: 1.5rem;
    }

    .about-section p {
        font-size: 1rem;
    }

    .about-section .btn {
        width: 100%; /* Make the button full-width on smaller screens */
    }
    
    .about-section img {
        width: 100%;
    }

    .trueprogrammer {
        padding: 20px 10vw 30px 10vw;
    }
}

ul {
    list-style: none;
}