.blog-container {
  min-height:100vh;
  background-color:#f8f9fa;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 40px;
  }
  
.card {
  margin-top: 50px;
}
  
.card-text {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  text-align: left;
}