.blog-container {
  min-height:100vh;
  background-color:#f8f9fa;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 40px;
  }
  
.card {
  margin-top: 50px;
}
  
.card-text {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  text-align: left;
}

pre code {
  background-color: #adadad28;
  color: #4fe11f;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .blog-container {
    padding: 30px 2vw 0px 2vw;
  }
  .card-text {
    margin: 8vw 10px;
  }
  
  .blog-container img {
    width: 100%;
  }
}