<style>
    .about-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }

    .mt-5 {
        margin-top: 3rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }

    .col {
        flex: 1;
    }

    .skills-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .skills-container ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skills-container div {
        flex: 1;
    }

    @media (max-width: 768px) {
        .skills-container {
            flex-direction: column;
            align-items: center;
        }

        .skills-container div {
            width: 100%;
            text-align: center;
        }
    }

</style>

<div>
    <div class="about-container">
        <div>
            <h4>I didn't enter tech the traditional way. I came through the side door, covered in dish soap, recovering from a dream in music, and haunted by the question of where I went wrong.</h4>
        </div>
        <div class="row" style="align-items: center;">
            <div class="col">
                <img src="https://storage.googleapis.com/theflyoccultist/public/images/rinkaku.png" alt="My Image" style="width: 15rem;"/>
            </div>
            <div class="col">
                <p>
                    <span>I wrote songs that meant something to a few people, just not enough to keep me afloat. After detours through sound engineering, UX design, and bloated web frameworks, I nearly surrendered to the abyss of call center scripts and endless form validation.</span><br/><br/>
                    <span>But something older and darker called me back.</span><br/><br/>
                    <span>I remembered the hum of logic gates, the eerie predictability of transistors, and the cold precision of C. I returned to systems, not for stability, but for revenge. C and C++ are my chaotic muses, Linux is my control panel, and Ruby is the strange little language that made me fall in love with code again. It's not a guilty pleasure, but a joyful rebellion. Like choosing K-pop after too much black metal. Unconventional, expressive, and fun.</span><br/><br/>
                    <span>Now I build systems that no one asked for but everyone will remember. I specialize in systems integration, AI infrastructure, network engineering, and DevOps pipelines crafted from refurbished e-waste and pure spite. My stack is containerized chaos. My projects run server-side and terminal-first. I don't write CRUD—I write cursed lore.</span><br/><br/>
                    <span>I’m not smart. I’ve just made every possible mistake, as that was the only way to move further.</span>
                </p>
                <br/>
                <p><strong>If you’re still reading, maybe you already know: Don’t dream it. Be it.</strong></p>
            </div>
        </div>
        <div class="row mt-5" style="justify-content: center;">
            <div class="col" style="text-align: center; font-size: large;">
              <a href="https://storage.googleapis.com/theflyoccultist/public/CV_RIN_DELAHAIJE.pdf">View CV</a>
            </div>
        </div>
    </div>
    
        <div class="skills-container">
            <div>
                <ul>
                    <h3>Tools</h3>
                    <li>GNU/Linux (Debian)</li>
                    <li>Proxmox</li>
                    <li>GitHub</li>
                    <li>Docker</li>
                    <li>Kubernetes</li>
                    <li>Google Cloud Services</li>
                    <li>Postgres</li>
                </ul>
            </div>   
            <div>
                <ul>
                    <h3>Skillset</h3>
                    <li>C / C++</li>
                    <li>Ruby</li>
                    <li>Bash</li>
                    <li>SQL</li>
                    <li>Go</li>
                    <li>Python</li>
                    <li>Rust</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h3>Contact</h3>
                    <li><strong>Portfolio</strong></li>
                    <li><a href='https://rinkakuworks.com'>https://rinkakuworks.com</a></li><br/>
                    <li><strong>Email</strong></li>
                    <li><a href="mailto:rinkakuworks@gmail.com">rinkakuworks@gmail.com</a></li><br/>
                    <li><strong>LinkedIn</strong></li>
                    <li><a href='https://www.linkedin.com/in/rin-delahaije-9750aa138/'>@rin-delahaije</a></li>
                </ul>
            </div>
        </div>
</div>
