<style>
    .about-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }

    .mt-5 {
        margin-top: 3rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }

    .col {
        flex: 1;
    }

    .skills-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .skills-container ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skills-container div {
        flex: 1;
    }

    @media (max-width: 768px) {
        .skills-container {
            flex-direction: column;
            align-items: center;
        }

        .skills-container div {
            width: 100%;
            text-align: center;
        }
    }

</style>

<div>
    <div class="about-container">
        <div>
            <h4>As a developer, my motivation is to help move technology forwards and solve complex problems with simple solutions.</h4>
        </div>
        <div class="row" style="align-items: center;">
            <div class="col">
                <img src="https://storage.googleapis.com/theflyoccultist/public/images/rinkaku.png" alt="My Image" style="width: 15rem;"/>
            </div>
            <div class="col">
                <p>
                <strong>⌨⌨⌨ While I started as a fullstack developer, my current focus has shifted toward:</strong><br/><br/>
                    <span>- Systems Programming: Diving deep into C and Rust to build reliable, high-performance software.</span><br/><br/>
                    <span>- Network Engineering: Exploring the art of connecting systems seamlessly.</span><br/><br/>
                    <span>- Artificial Intelligence: Bridging the gap between machine learning principles and practical implementation.</span>
                </p>
                <br/>
                <p>
                <strong>ˏˋ ★ ˎˊ What sets me apart?</strong><br/><br/>
                    <span>- A blend of high-level web development skills and low-level systems programming expertise.</span><br/><br/>
                    <span>- The ability to pivot between building friendly UIs and diving deep into the guts of a system.</span>
                </p>
                <br/>
                <p><strong>(っ'-')╮=͟͟͞͞  ✉ Want to collaborate or chat? Let's connect and explore how we can create something amazing together! .°✴₊⁺⊹</strong></p>
            </div>
        </div>
        <div class="row mt-5" style="justify-content: center;">
            <div class="col" style="text-align: center;">
                <a href="https://storage.googleapis.com/theflyoccultist/public/CV_RIN_DELAHAIJE.pdf">View CV</a>
            </div>
        </div>
    </div>
    
        <div class="skills-container">
            <div>
                <ul>
                    <h3>Tools</h3>
                    <li>GNU/Linux (Debian)</li>
                    <li>Proxmox</li>
                    <li>GitHub</li>
                    <li>Docker</li>
                    <li>Kubernetes</li>
                    <li>Google Cloud Services</li>
                    <li>Postgres</li>
                </ul>
            </div>   
            <div>
                <ul>
                    <h3>Skillset</h3>
                    <li>C / C++</li>
                    <li>Ruby</li>
                    <li>Bash</li>
                    <li>SQL</li>
                    <li>Go</li>
                    <li>Python</li>
                    <li>Rust</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h3>Contact</h3>
                    <li><strong>Portfolio</strong></li>
                    <li><a href='https://rinkakuworks.com'>https://rinkakuworks.com</a></li><br/>
                    <li><strong>Email</strong></li>
                    <li><a href="mailto:rinkakuworks@gmail.com">rinkakuworks@gmail.com</a></li><br/>
                    <li><strong>LinkedIn</strong></li>
                    <li><a href='https://www.linkedin.com/in/rin-delahaije-9750aa138/'>@rin-delahaije</a></li>
                </ul>
            </div>
        </div>
</div>
