<style>
  .main-image {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>

<div 
  id="blog-container"
  hx-get="/api/blog/<%= @blog_id %>"
  hx-trigger="load"
  hx-swap="innerHTML">
  Loading article...
  <!-- render article here -->
</div>
