<style> 
    .blog-card {
        width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        margin-bottom: 2rem;
        border: #3B3B3B solid 2px;
        padding: 1rem;
    }

    .card-thumbnail {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    h3 {
        margin: 1.5rem;
    }
  
    .blog-card:hover {
        transform: scale(1.05);
    }
</style>

<div>
  <!--Blog List Container-->
  <div id="blog-container">
    <p>Loading Blog Posts...</p>
  </div>

  <!--Pagination-->
  <div id="pagination" style="text-align: center;">
    <button id="prev-button">Previous</button>
    <button id="next-button">Next</button>
  </div>
</div>
