<div>
    <h2>Let's Connect!</h2>
    <p>Want to work together or just have a conversation? Send me a message and let's explore the possibilities.</p>
</div>
<div>
    <p>Portfolio : <a href='https://rinkakuworks.com'>https://rinkakuworks.com</a><br/>
        Email : <a href="mailto:rinkakuworks@gmail.com">rinkakuworks@gmail.com</a><br/>
        LinkedIn : <a href='https://www.linkedin.com/in/rin-delahaije-9750aa138/'>@rin-delahaije</a><br/>
        GitHub : <a href='https://github.com/theflyoccultist'>theflyoccultist</a>
    </p>
</div>
