<div id="content">

  <div style="display: flex; gap: 10px;">
      <div style="flex: 1;">
          <h2>Hi there, I am Rin ˚ʚ♡ɞ˚</h2>
      </div>
  </div>
  <div style="align-items: center;">
      <div style="flex: 1;">
          <h4>I am a Systems Integration, AI, and Network Engineer in the making. My passion lies in creating robust, efficient, and scalable solutions, whether that's writing low-level systems in C and C++, or integrating complex network and AI systems.</h4>
      </div>
      <img src="https://storage.googleapis.com/theflyoccultist/public/images/rinkaku.png" style="width: 10rem; padding-bottom: 3rem;" alt="Rin"/><br/>
  </div>
            
  <style> 
      .work-card {
          width: 90%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease-in-out;
          margin-bottom: 2rem;
          border: #3B3B3B solid 2px;
          padding: 1rem;
      }

      .thumbnail {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
      }

      .roles {
          font-size: 2rem;
          margin-bottom: 0.5rem;
      }
    
      .work-card:hover {
          transform: scale(1.05);
      }
  </style>

  <%= erb :work_card %>
</div>
