<!--Not a single line of JSX to be found here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rinkaku Works - Portfolio</title>
    <link rel="icon" type="image" href="https://storage.googleapis.com/theflyoccultist/public/images/rinkakulogo.png">
    <link rel="stylesheet" href="/static/98&XP/XP.css">
    
    <script src="/static/htmx.min.js"></script>
    <script src="/static/clippy.js"></script>

</head>
    <style>
        body {
            background-image: url("https://storage.googleapis.com/theflyoccultist/public/images/bliss.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        p, div, span {
            font-size: medium;
        }
        a {
            text-decoration: none;
            color: #0e0155;
            cursor: pointer;
        }
        divider {
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            width: 80%;
        }
        .clippy-container {
            position: sticky;
            bottom: 10vh;
            left: 75vw;
            text-align: center;
            z-index: 100;
            width: 20vw;
        }
        #clippy-bubble {
            font-size: 0.7em;
            background: LightYellow;
            padding: 2%;
            border-radius: .4em;
            box-shadow: 2px 2px 0px black;
        }
        #clippy {
            cursor: pointer;
        }
    </style>

<body style="padding: 1% 2%;">

    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Rinkaku Works</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
              </div>
        </div>
        <div class="window-body" style="justify-content: center; width: 80%; margin: 0 auto;">

        <!--NavBar-->
        <nav style="font-size: large; padding-top: 1.4em; cursor: pointer;">
            <a hx-get="/" hx-target="#content" hx-push-url="true">Home</a> |
            <a hx-get="/about" hx-target="#content" hx-push-url="true">About</a> |
            <a hx-get="/contact" hx-target="#content" hx-push-url="true">Contact</a> |
            <a hx-get="/blog" hx-target="#content" hx-push-url="true">Blog</a>
            <br/>    <br/>
        </nav>

        <div id="content">
          <%= yield %>
        </div>


        </div>
        <!-- The All Knowing Beast-->
        <%= erb :clippy %>

      <!-- Footer -->
      <footer style="text-align: center;">
        <div class="divider">
            <p>✦•············•✦•············•✦</p>
        </div>
          <div>
              <div style="flex: 1;">
                  <a href="https://github.com/theflyoccultist" style="color: rgb(50, 0, 71);">GitHub | </a>
                  <a href="https://www.linkedin.com/in/rin-delahaije-9750aa138/" style="color: rgb(94, 3, 94);">LinkedIn</a>
              </div>
              <div style="flex: 1;">
                  <p>&copy; 2025 Rin. All rights reserved.</p>
              </div>
              <div style="flex: 1;">
                  <p>This website is completely React-free!</p>
                  <img src="https://storage.googleapis.com/theflyoccultist/public/images/gifs/happy-dancing.gif" style="width: 20vw;"><br/>
              </div>
          </div>
      </footer>
    </div>
</body>
</html>
