<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title || "Blog Article" %></title>
    <link rel="icon" type="image" href="https://storage.googleapis.com/theflyoccultist/public/images/rinkakulogo.png">
    
    <link rel="stylesheet" href="/static/98&XP/XP.css">
    <link rel="stylesheet" href="/static/prism.css">
    
    <script src="/static/htmx.min.js"></script>
    <script src="/static/prism.js" defer></script>
    <script src="/static/marked.min.js" defer></script>
    <script src="/static/article.js" defer></script>
</head>

<style>
    body {
        background-image: url("https://storage.googleapis.com/theflyoccultist/public/images/bliss-dark.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    p, div, span {
        font-size: medium;
    }
    .hero-image {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>

<body style="padding: 1% 2%;">
    <div class="window">
        
        <div class="title-bar">
            <div class="title-bar-text"><%= @page_title || "Blog Article" %></div>
            <div class="title-bar-controls">
                <button aria-label="Help"></button>
                <button aria-label="Close"></button>
              </div>
        </div>

        <div class="window-body" style="justify-content: center; width: 80%; margin: 0 auto;">
            
            <nav style="font-size: large; padding-top: 3%;">
                <a href="javascript:history.back()">Back to Blog</a>
            </nav>

            <main>
                <%= yield %> <!-- Article Content -->
            </main>
        </div>

        <footer>
            <div style="text-align: center;">
                <div style="flex: 1;">
                    <a href="https://github.com/theflyoccultist" style="color: rgb(50, 0, 71);">GitHub | </a>
                    <a href="https://www.linkedin.com/in/rin-delahaije-9750aa138/" style="color: rgb(94, 3, 94);">LinkedIn</a>
                </div>
                <div style="flex: 1;">
                    <p>&copy; 2025 Rin. All rights reserved.</p>
                </div>
                <div style="flex: 1;">
                    <p>You won't learn anything from this article</p>
                    <img src="https://storage.googleapis.com/theflyoccultist/public/images/gifs/yahoo-gossip.gif" style="width: 10%;"><br/>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>