body {
    color: rgb(95, 99, 104)
}

.col {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.portfolioblogging-container {
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 75px 20px;
}

.portfolioblogging-container img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.shrink {
    transform: scale(0.7);
}

ul {
    list-style: square;
}

h5 {
    padding-top: 20px;
}

@media (max-width: 768px) {
    .col {
        padding: 2vw 3vw 2vw 3vw;
      }
}