.blog-container {
  min-height:100vh;
  background-color:#f8f9fa;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 40px;
}
  
.blog-container img {
  width: 100%;
}

.hero-image {
  padding-bottom: 50px;
}

.card {
  margin-top: 50px;
}

.hero-title {
  text-align: center;
  padding-top: 0.8vw;
  padding-bottom: 0.5vw;
  font-size: x-large;
}

.card-text {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

@media (max-width: 990px) {
  .blog-container {
    padding: 30px 2vw 0px 2vw;
  }
  .card-text {
    margin: 8vw 10px;
  }
}