a {
    text-decoration: none;
}

.blog-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow: hidden;
}

.card-content {
    flex: 1;
}

.card-thumbnail {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: block;
    max-width: 60%;
    height: auto;
    object-fit: cover;
}

.card-title {
    padding-top: 15px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px;
}

.card-dezcription {
    font-size: 1rem;
    color: #666;
    margin: 0 0 15px;
}

@media (max-width: 990px) {
    .card-thumbnail {
        max-width: 100%;
    }    
}