<style>
    .illustration {
        padding-top: 2rem;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>

<div style="display: flex; flex-direction: column; gap: 10px;">
    <div style="text-align: center;">
        <h2 data-i18n="b.1"></h2>
    </div>

    <div style="text-align: center;">
        <h4 data-i18n="b.2"></h4>
        <h4 style="font-weight: bold;" data-i18n="b.3"></h4>
    </div>

    <img class="illustration" src="https://storage.googleapis.com/theflyoccultist/public/images/portfolio-blogging/blogging-platform.webp" className="shrink" alt="blogging platform app" loading="lazy"/>

    <div style="text-align: center; padding: 30px;">
        <h4 data-i18n="b.4"></h4>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.5"></strong>
        <div data-i18n="b.6"></div>
        <div data-i18n="b.7"></div>
        <div data-i18n="b.8"></div>
        <div data-i18n="b.9"></div>
        <div data-i18n="b.10"></div>
    </div>

    <div style="padding: 30px;"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.11"></strong>
        <div data-i18n="b.12"></div>
        <div data-i18n="b.13"></div>
        <div data-i18n="b.14"></div>
        <div data-i18n="b.15"></div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.16"></strong>
        <div data-i18n="b.17"></div>
        <div data-i18n="b.18"></div>
        <div data-i18n="b.19"></div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong><div data-i18n="b.20"></div></strong>
        <div data-i18n="b.21"></div>
        <img class="illustration" src="https://storage.googleapis.com/theflyoccultist/public/images/portfolio-blogging/diagramme-architecture.webp" alt="diagramme d'architecture blogging platform" loading="lazy"/>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.22"></strong>
        <ul style="display: flex; flex-direction: column; gap: 15px;">
            <li><div data-i18n="b.23"></div></li>
            <li><div data-i18n="b.24"></div></li>
            <li><div data-i18n="b.25"></div></li>
            <li><div data-i18n="b.26"></div></li>
        </ul>                     
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div>
        <strong data-i18n="b.27"></strong>                
        <img class="illustration" src="https://storage.googleapis.com/theflyoccultist/public/images/portfolio-blogging/screenshot1.webp" alt="screencap main platform page" loading="lazy"/> 
        <img class="illustration" src="https://storage.googleapis.com/theflyoccultist/public/images/portfolio-blogging/screenshot2.webp" alt="screencap post edition" loading="lazy"/> 
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.28"></strong> 
        <div data-i18n="b.29"></div>
    
        <CodeSample />
    
        <div data-i18n="b.30"></div>
    
        <CodeSample2 />
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.31"></strong> 
        <div data-i18n="b.32"></div>
        <div data-i18n="b.33"></div>
    </div>

    <div style="padding: 30px;"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="b.34"></strong>
        <div data-i18n="b.35"></div>
    </div>
</div>

<script>
    window.scrollTo(0, 0);
</script>