<style>
    .illustration {
        padding-top: 2rem;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .livedemo {
        font-size: large;
        text-align: center;
        animation: blinker 1s step-start infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<div style="display: flex; flex-direction: column; gap: 10px;">
    <div style="text-align: center;">
        <h2 data-i18n="evo11.project1"></h2>
    </div>
    
    <div style="text-align: center;">
        <h4 data-i18n="evo11.subtitle1"></h4>
        <h4 style="font-weight: bold;" data-i18n="evo11.projecttype1"></h4>
    </div>

    <div class="livedemo">
        <a href="https://www.figma.com/proto/U4u7Mr2zPpIWcAdevaCDwY/Portfolio-Project-3?node-id=199-4&p=f&t=50C3Q3QY1VhaosAA-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=199%3A241">--- CLICK HERE FOR A LIVE DEMO!!! ---</a>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div style="flex: 1; padding-bottom: 30px;">
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/evo11.webp" alt="evo11 project" loading="lazy"/>
        </div>
        <div>
            <strong data-i18n="evo11.theproject1"></strong><span data-i18n="evo11.theproject1-1"></span>
        </div>
        <div>
            <strong data-i18n="evo11.theproblematic1"></strong><span data-i18n="evo11.theproblematic1-1"></span>
        </div>
        <div>
            <strong data-i18n="evo11.theobjective1"></strong><span data-i18n="evo11.theobjective1-1"></span>
        </div>
        
        <div>
            <strong data-i18n="evo11.therole1"></strong><span data-i18n="evo11.therole1-1"></span>
        </div>
        <div>
            <strong data-i18n="evo11.responsabilities1"></strong><span data-i18n="evo11.responsabilities1-1"></span>
        </div>
        
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div>
            <h3><strong data-i18n="evo11.userresearch1"></strong></h3>
        </div>
        <div data-i18n="evo11.userresearch1-1"></div>
        <div data-i18n="evo11.userresearch1-2"></div>
        <div data-i18n="evo11.userresearch1-3"></div>
        
        <div>
            <u data-i18n="evo11.q1-1"></u><br/>
            <span data-i18n="evo11.q1-1-1"></span><br/>
            <span data-i18n="evo11.q1-1-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-2"></u><br/>
            <span data-i18n="evo11.q1-2-1"></span><br/>
            <span data-i18n="evo11.q1-2-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-3"></u><br/>
            <span data-i18n="evo11.q1-3-1"></span><br/>
            <span data-i18n="evo11.q1-3-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-4"></u><br/>
            <span data-i18n="evo11.q1-4-1"></span><br/>
            <span data-i18n="evo11.q1-4-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-5"></u><br/>
            <span data-i18n="evo11.q1-5-1"></span><br/>
            <span data-i18n="evo11.q1-5-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-6"></u><br/>
            <span data-i18n="evo11.q1-6-1"></span><br/>
            <span data-i18n="evo11.q1-6-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-7"></u><br/>
            <span data-i18n="evo11.q1-7-1"></span><br/>
            <span data-i18n="evo11.q1-7-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-8"></u><br/>
            <span data-i18n="evo11.q1-8-1"></span><br/>
            <span data-i18n="evo11.q1-8-2"></span>
        </div>
        <div>            
            <u data-i18n="evo11.q1-9"></u><br/>
            <span data-i18n="evo11.q1-9-1"></span><br/>
            <span data-i18n="evo11.q1-9-2"></span>
        </div>
        <div>
            <u data-i18n="evo11.q1-10"></u><br/>
            <span data-i18n="evo11.q1-10-1"></span><br/>
            <span data-i18n="evo11.q1-10-2"></span>
        </div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div>
            <h3><strong data-i18n="evo11.competitiveaudit1"></strong></h3>
        </div>
        <div data-i18n="evo11.competitiveaudit1-1"></div>
        <div data-i18n="evo11.competitiveaudit1-2"></div>
        <a href="https://www.rinkakuworks.com/public/images/evo11/Google%20UX%20Design%20Certificate%20-%20Competitive%20Audit%20Report%20%5bPortfolio%203%5d.pdf">PDF</a>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div>
        <div>
            <h3><strong data-i18n="evo11.userpersona1"></strong></h3>
        </div>
        <div data-i18n="evo11.userpersona1-1"></div>
        <div style="text-align: center;">
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/annabelle.webp" alt="annabelle user persona" loading="lazy"/>
        </div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>
    
    <div>
        <div style="text-align: left;">
            <h3><strong data-i18n="evo11.ideation1"></strong></h3>
        </div>
    </div>
    <div style="text-align: center,">
        <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/crazyeights1.webp" alt="crazy eights" loading="lazy"/>
        <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/welcomepagesketch.webp" className="shrink" alt="welcome page sketch" loading="lazy"/>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div>
        <div>
            <h3><strong data-i18n="evo11.lowfidelity1"></strong></h3>
        </div>     
    </div>
    <div style="text-align: left;">
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/lowfiwelcomepage.webp" alt="low fidelity prototype welcome page" loading="lazy"/>
        </div>
        <div>
            <br/><span data-i18n="evo11.lowfidelity1-1"></span><br/>

            <span data-i18n="evo11.lowfidelity1-2"></span><br/>
                <ul>
                    <li data-i18n="evo11.lowfidelity1-3"></li>
                    <li data-i18n="evo11.lowfidelity1-4"></li>
                    <li data-i18n="evo11.lowfidelity1-5"></li>
                </ul><br/>
                <span data-i18n="evo11.lowfidelity1-6"></span><br/>
        </div>        
    </div>

    <div>
        
        <div>
            <span data-i18n="evo11.lowfidelity1-7"></span><br/>
            <span data-i18n="evo11.lowfidelity1-8"></span><br/>
        </div>  
    </div>
    <div>
        <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/lowfifull.webp" className="shrink" alt="full low fidelity prototype" loading="lazy"/>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>
         
    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div>
            <h3><strong data-i18n="evo11.usabilitytesting1"></strong></h3><br/>
        </div>
        <div>
            <strong data-i18n="evo11.testtype1"></strong><span data-i18n="evo11.testtype1-1"></span><br/>
        </div>
        <div>
            <strong data-i18n="evo11.testplace1"></strong><span data-i18n="evo11.testplace1-1"></span><br/>
        </div>
        <div>
            <strong data-i18n="evo11.testcandidates1"></strong><span data-i18n="evo11.testcandidates1-1"></span><br/>
        </div>
        <div>
            <strong data-i18n="evo11.testlength1"></strong><span data-i18n="evo11.testlength1-1"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.testresults1"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.testresults1-1"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.testresults1-2"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.testresults1-3"></span><br/>
        </div>
    </div>

    <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/menuandmorningroutine.webp" className="shrink" alt="before and after usability study, menu and routine page" loading="lazy"/>   
    
    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>
        
    <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/checklist.webp" alt="before and after usability study, checklist page" loading="lazy"/> 
    <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/welcomepagelowfitohifi.webp" className="shrink" alt="before and after usability study, welcome page" loading="lazy"/> 

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div class="ui-kit">
        <div>
            <h3><strong data-i18n="evo11.uikit1"></strong></h3><br/>
            <span data-i18n="evo11.uikit1-1"></span><br/>
            <span data-i18n="evo11.uikit1-2"></span><br/>
        </div>
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/uikit.webp" alt="ui kit" loading="lazy"/> 
        </div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="text-align: left;"></div>
        <div>
            <h3><strong data-i18n="evo11.highfidelity1"></strong></h3><br/>                       
        </div>
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/hifiprototype.webp" alt="completed high fidelity prototype" loading="lazy"/> 
        </div>
    </div>

    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>

    <div style="text-align: left;">
        <div>
            <h3><strong data-i18n="evo11.responsive1-pc"></strong></h3><br/>                     
        </div>
        <div>
            <span data-i18n="evo11.responsive1-1"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.responsive1-2"></span><br/>
        </div>
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/websitepc.webp" alt="responsive website for PC" loading="lazy"/> 
        </div>
        <div>
            <h3><strong data-i18n="evo11.responsive1-ios"></strong></h3><br/>                    
        </div>
        <div>
            <span data-i18n="evo11.responsive1-3"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.responsive1-4"></span><br/>
        </div>
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/websitemobile.webp" className="shrink" alt="responsive website for mobile" loading="lazy"/> 
        </div>
    </div>
    <div>
        <div>
            <h3><strong data-i18n="evo11.sitemap1"></strong></h3><br/>
        </div>
        <div>
            <img class="illustration" src="https://www.rinkakuworks.com/public/images/evo11/sitemap.webp" alt="sitemap for responsive website" loading="lazy"/> 
        </div>
    </div>    
        
    <div hx-get="partials/divider.html" hx-trigger="load" hx-target="this"></div>
        
    <div style="text-align: left;">
        <div><h3><strong data-i18n="evo11.conclusion1"></strong></h3><br/></div>
            <span data-i18n="evo11.conclusion1-1"></span><br/>
        </div>
        <div>
            <span data-i18n="evo11.conclusion1-2"></span><br/>
        </div>
        <div>
            <ul>
                <li data-i18n="evo11.conclusion1-3"></li>
                <li data-i18n="evo11.conclusion1-4"></li>
                <li data-i18n="evo11.conclusion1-5"></li>
            </ul>                     
        </div>
    </div>
</div>

<script>
    window.scrollTo(0, 0);
</script>