<style>
  .illustration {
    padding-top: 2rem;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>

<div style="display: flex; flex-direction: column; gap: 10px;">
  <div style="text-align: center;">
    <h2 data-i18n="p.1"></h2>
  </div>

  <div style="text-align: center;">
    <h4 data-i18n="p.2"></h4>
    <h4 style="font-weight: bold;" data-i18n="p.3"></h4>
  </div>

  <img class="illustration" src="https://storage.googleapis.com/theflyoccultist/public/images/portfoliox2/portfolio-image.webp" alt="portfolioimage">

  <div style="text-align: center; padding: 30px;">
    <h4 data-i18n="p.4"></h4>
  </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="p.5"></strong>
        <div data-i18n="p.6"></div>
        <div data-i18n="p.7"></div>
        <div data-i18n="p.8"></div>
        <div data-i18n="p.9"></div>
    </div>

    <div class="divider" style="text-align: center;">
        <p>✦•······················•✦•······················•✦</p>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <strong data-i18n="p.10"></strong>
        <div data-i18n="p.11"></div>
        <div data-i18n="p.12"></div>
        <div data-i18n="p.13"></div>
    </div>
</div>

<script>
    window.scrollTo(0, 0);
</script>
