<style>
    .thumbnail {
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .livedemo {
        font-size: large;
        text-align: center;
        animation: blinker 1s step-start infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<div style="display: flex; flex-direction: column; gap: 10px;">
    <div style="text-align: center;">
        <h2 data-i18n="simpleplan.project2"></h2>
    </div>

    <div style="text-align: center;">
        <h4 data-i18n="simpleplan.subtitle2"></h4>
        <h4 style="font-weight: bold;" data-i18n="simpleplan.projecttype2"></h4>
    </div>

    <div class="livedemo">
        <a href="https://www.figma.com/proto/yheNVdYaZcgAIRBFQ6dmTi/Portfolio-Project?type=design&node-id=411-83&t=GVIZ5DGH0ER6JgCN-1&scaling=scale-down&page-id=411%3A82&starting-point-node-id=411%3A83&mode=design">--- CLICK HERE FOR A LIVE DEMO!!! ---</a>
    </div>
    
    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div style= "padding-bottom: 30px;">
            <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/simpleplan.webp" className="shrink" alt="evo11 transition app" loading="lazy"/>
        </div>

        <strong data-i18n="simpleplan.theproject2"></strong>
            <div data-i18n="simpleplan.theproject2-1"></div>
        <strong data-i18n="simpleplan.theproblematic2"></strong>
            <div data-i18n="simpleplan.theproblematic2-1"></div>
        <strong data-i18n="simpleplan.theobjective2"></strong>
            <div data-i18n="simpleplan.theobjective2-1"></div>
        <strong data-i18n="simpleplan.therole2"></strong>
            <div data-i18n="simpleplan.therole2-1"></div
        <strong data-i18n="simpleplan.responsabilities2"></strong>
            <div data-i18n="simpleplan.responsabilities2-1"></div>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>  

    <div style="display: flex; flex-direction: column; gap: 15px;">
            <h3><strong data-i18n="simpleplan.userresearch2"></strong></h5>
        
            <div data-i18n="simpleplan.userresearch2-1"></div>
        
            <ul>
                <li><div data-i18n="simpleplan.q2-1"></div></li>
                <li><div data-i18n="simpleplan.q2-2"></div></li>
                <li><div data-i18n="simpleplan.q2-3"></div></li>
                <li><div data-i18n="simpleplan.q2-4"></div></li>
                <li><div data-i18n="simpleplan.q2-5"></div></li>
            </ul>
        
            <div data-i18n="simpleplan.results2"></div>
        
            <ul>
                <li><div data-i18n="simpleplan.r2-1"></div></li>
                <li><div data-i18n="simpleplan.r2-2"></div></li>
                <li><div data-i18n="simpleplan.r2-3"></div></li>
                <li><div data-i18n="simpleplan.r2-4"></div></li>
            </ul>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.userpersona2"></strong></h3>
        <div data-i18n="simpleplan.userpersona2-1"></div>
        <div data-i18n="simpleplan.userpersona2-2"></div>
        <div data-i18n="simpleplan.userpersona2-3"></div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/rinko.webp" alt="rinko user persona" loading="lazy"/>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/angelo.webp" alt="angelo user persona" loading="lazy"/>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">    
        <h3><strong data-i18n="simpleplan.usermap2"></strong></h3>
        <div data-i18n="simpleplan.usermap2-1"></div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/parcour.webp" alt="rinko user persona" loading="lazy"/>
    </Row>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.wireframe2"></strong></h3>
        <div data-i18n="simpleplan.wireframe2-1"></div><br/>
        <div data-i18n="simpleplan.wireframe2-2"></div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/paperwireframe1.webp" alt="paper wireframe 1" loading="lazy"/>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/paperwireframe2.webp" alt="paper wireframe 2" loading="lazy"/>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.wireframe2-3"></strong></h3>               
    </div>
    
    <div style="display: flex; flex-direction: column; gap: 15px;"> 
        <div data-i18n="simpleplan.wireframe2-4"></div><br/><br/>
        <div data-i18n="simpleplan.wireframe2-5"></div>
    
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/lowfi1.webp" alt="low fidelity wireframe 1" loading="lazy"/>

        <div data-i18n="simpleplan.wireframe2-6"></div><br/><br/>
        <div data-i18n="simpleplan.wireframe2-7"></div><br/><br/>
        <div data-i18n="simpleplan.wireframe2-8"></div>
    
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/lowfi2.webp" alt="low fidelity wireframe 2" loading="lazy"/>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.lowfidelity2"></strong></h3>
        <div data-i18n="simpleplan.lowfidelity2-1"></div><br/><br/>
        <div data-i18n="simpleplan.lowfidelity2-2"></div><br/><br/>
    
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/lowfifull.webp" alt="full low fidelity wireframe" loading="lazy"/>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>
    
    <div style="display: flex; flex-direction: column; gap: 15px;">  
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/lowfimobile-opti.gif" alt="full low fidelity wireframe" loading="lazy"/>
        <div data-i18n="simpleplan.lowfidelity2-3"></div><br/><br/>
        <div data-i18n="simpleplan.lowfidelity2-4"></div><br/><br/>
    </Row>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.usabilitytesting2"></strong></h3>   
        <div data-i18n="simpleplan.usabilitytesting2-1"></div>
        <div data-i18n="simpleplan.usabilitytesting2-2"></div>
        <div data-i18n="simpleplan.usabilitytesting2-3"></div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/beforeafter1.webp" alt="before and after usability studies" loading="lazy"/>
        <div data-i18n="simpleplan.usabilitytesting2-4"></div>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/beforeafter2.webp" alt="before and after usability studies 2" loading="lazy"/>
        <div data-i18n="simpleplan.usabilitytesting2-5"></div><br/><br/>
        <div data-i18n="simpleplan.usabilitytesting2-6"></div>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.uikit2"></strong></h3>   
        <div data-i18n="simpleplan.uikit2-1"></div>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/uikit.webp" alt="UI kit for simple plan" loading="lazy"/>
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;"></div>
        <h3><strong data-i18n="simpleplan.highfidelity2"></strong></h3> 
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/hififull.webp" alt="Full High Fidelity Prototype for the simple plan app" loading="lazy"/>    
    </div>

    <div style="display: flex; flex-direction: column; gap: 15px;"></div>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/hifimobile-opti.gif" alt="full low fidelity wireframe" loading="lazy"/>
        <div data-i18n="simpleplan.highfidelity2-1"></div><br/>
        <div data-i18n="simpleplan.highfidelity2-2"></div><br/>    
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>

    <div style="display: flex; flex-direction: column; gap: 15px;">
        <h3><strong data-i18n="simpleplan.conclusion2"></strong></h3> 
        <div data-i18n="simpleplan.conclusion2-1"></div>
        <div data-i18n="simpleplan.conclusion2-2"></div>
        <ul>
            <li><div data-i18n="simpleplan.conclusion2-3"></div></li>
            <li><div data-i18n="simpleplan.conclusion2-4"></div></li>
        </ul>
        <div data-i18n="simpleplan.conclusion2-5"></div>    
    </div>

<div class="divider" style="text-align: center;">
    <p>✦•······················•✦•······················•✦</p>
</div>
    
    <div style="display: flex; flex-direction: column; gap: 15px;">
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/concept1.webp" alt="extension idea: share to socials" loading="lazy"/>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/concept2.webp" alt="extension idea: search by date, category or artist" loading="lazy"/>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/concept4.webp" alt="extension idea: locate your friends" loading="lazy"/>
        <img class="thumbnail" src="https://storage.googleapis.com/theflyoccultist/public/images/simpleplan/concept3.webp" alt="extension idea: friend messaging" loading="lazy"/>    
    </div>
<div>
<script>
    window.scrollTo(0, 0);
</script>