<nav style="font-size: large;">
    <img src="https://storage.googleapis.com/theflyoccultist/public/images/rinkaku2.png" width="30" height="30" alt="Rin Logo">
    <a href="index.html" data-i18n="navBarHome">Loading...</a> |
    <a href="#" hx-get="/partials/about.html" hx-trigger="click" hx-target="#content" data-i18n="navBarAbout">Loading...</a> |
    <a href="#" hx-get="/partials/contact.html" hx-trigger="click" hx-target="#content" data-i18n="navBarContact">Loading...</a> |
    <a href="#" hx-get="/partials/blog-list.html" hx-trigger="click" hx-target="#content">Blog</a>
    <br/>    <br/>
    <button onclick="changeLanguage('en')">🇬🇧 English</button>
    <button onclick="changeLanguage('fr')">🇫🇷 Français</button>
</nav>